footer#site-footer {
    min-height: 85px;
    background-color: $color-base;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: $white;
        font-size: calc($font-size-base + 2px);
        margin-bottom: 0;
    }
    
}
ul#menu-footer {
    list-style-type: none;
    padding: 0;
  
    li{
       a{
        color: $color-base;
        padding-bottom: 10px;
       }
       margin-bottom: 10px;
    }

}