$mobile:767px;
$tablet:768px;
$desktop:1025px;
$large-desktop:1440px;
$font-size-base:18px;
$font-size-base-large-desktop:18px;
$color-base:#00205B;
$white:#ffffff;
$purple-1:#C31CB5;
$purple-2:#821D97;
$font-family: 'Raleway', sans-serif;
$weight-base:400;
$weight-medium:500;
$weight-bold:700;
$weight-black:900;
$light-blue:#03DDDD;
//font-family: 'Raleway', sans-serif;
html{
    scroll-behavior: smooth;
    body{
        scroll-behavior: smooth;
        overflow-x: hidden;
        color: $color-base;
        font-size: $font-size-base;
        background-color:$white;
        font-family: $font-family;
    }
}