.beneficio-item {
    max-width: 270px;
    height: 270px;
    box-shadow: 0 3px 6px 0 #0000005e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &:hover{
        background-color:$purple-1;
         img {
            filter: invert(2) brightness(2);
        }
        h3{
            color:white;
        }
    }
}
.stack-item {
    max-width: 270px;
    height: 270px;
    border-radius: 10px;
    border: 1px solid #C31CB5;
    backdrop-filter: drop-shadow(2px 4px 6px #C31CB5);
    box-shadow: 0px 0px 10px 0px #c31cb5, 0px 0px 6px 0px #c31cb5 inset;
    transition: 0.5s;
    margin: auto;
    &:hover{
       
        box-shadow: 0px 0px 10px 0px #c31cb5, 0px 0px 15px 0px #821D97 inset;
    }
}